@{
    <style>

    .submitnewmissionbtn{
    height:max-content;
    border:1px solid orange;
    border-radius:35px;
}

    </style>
}

<div class="">
    <div class="title d-flex justify-content-center">
         <h2> No Mission Found </h2>
    </div>
   <div class="button d-flex justify-content-center ">
        
           <a class="btn submitnewmissionbtn mt-3 mb-3" type="submit"><span style="color:orange;">Submit New Mission<img class="p-2" src="/Images/right-arrow.png" /></span></a>
   </div>
   
</div>
